# Ignore Python bytecode files
**/__pycache__/
*.pyc

# Ignore the local development settings file
**/settings_local.py



# Ignore the database file
**/db.sqlite3

# Ignore the Dockerfile and docker-compose.yml files
Dockerfile
docker-compose.yml

# Ignore any other files or directories that are not needed in the container
node_modules/
*.log
*.bak
*.swp
.venv/